{# ------------------------------------------------------- #}
{# ONE OFF VIEW homepage #}
{# This page can use any data from http:localhost:2000/cms/#/form/homepage/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this homepage's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.homepage.name }}{% endblock %}
{% block content %}
    {% for image in cms.homepage.gallery %}
      <img src="{{ image|imageSize(2000, 2000) }}">
      {{ image.caption }}
    {% endfor %}
{% endblock %}
