{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div id="indexcontainer">
	<div class="container-fluid">
	
	<div class="header">
		{% block header %}
	        {% include "templates/partials/header.html" %}
	    {% endblock %}
    </div>

    <div class="indexcontent col-sm-3 offset-sm-3 marquee">
    	<div class="indexlist indextext">
    		{% for row in cms.portfolio_2.clientlist %}
    		<p>
                <a href="/portfolio_2/#{{ row.anchor }}">
                	{{ row.name }}
                </a>
            </p>
      		{% endfor %}
    	</div>
    </div>

    <div class="marquee">
    	;lksanjd;lkjas;dlkfj;sldkjf;lsdkjf
    </div>

    <div class="hpimages clearfix">
	  <div class="bg-slideshow col-sm-8 col-md-10 col-lg-9 offset-lg-3 ">
	    {% for image in cms.homepage.gallery %}
	      <img class="hp-asset" src="{{ image|imageSize(2000, 2000) }}">
	      {{ image.caption }}
	    {% endfor %}
	  </div>
	 </div>

	 </div>
</div>


 <script src="marquee3k.js"></script>

{% endblock %}
