{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div id="indexcontainer">
	<div class="container-fluid">

	<div id="mobilenav">
	  <div class="title">
	    <a href="/">
	        <h1>Katharine Kjerland</h1>
	      </a>
	  </div>

	  <div class="mobilenav">
	    <div class="topnav" id="myTopnav">
	        <a href="/" class="mobiletitle" >
	            <h1>Katharine Kjerland</h1>
	          </a>
	    	  <a class="mobilelinks" href="/portfolio_2">Portfolio</a>
	    	  <a  href="/measurements">Measurements</a>
	    	  <a  href="/contact">Contact</a>
	    	  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
	    	     &#9776;
	    	  </a>
	    </div>
	  </div>
	</div>

	<script>
	  function myFunction() {
	      var x = document.getElementById("myTopnav");
	      if (x.className === "topnav") {
	          x.className += " responsive";
	      } else {
	          x.className = "topnav";
	      }
	  }
	</script>
	

	<div id="desktopnav">
	  <div class="row navigation-1 container-fluid">
	    <a class="col-sm-3 desktitle" href="/homepage">Katharine Kjerland</a>
	  </div>
  	</div>
    
    <a href="/homepage">
    <div class="hpimages clearfix">
	  <div class="bg-slideshow col-sm-8 col-md-10 col-lg-9 offset-lg-3 ">
	    {% for image in cms.homepage.gallery %}
	      <img class="hp-asset" src="{{ image|imageSize(2000, 2000) }}">
	      {{ image.caption }}
	    {% endfor %}
	  </div>
	 </div>
	</a>

	 </div>
</div>

{% endblock %}
