{# ------------------------------------------------------- #}
{# ONE OFF VIEW measurements #}
{# This page can use any data from http:localhost:2000/cms/#/form/measurements/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this measurements's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.measurements.name }}{% endblock %}
{% block content %}
<div id="measurements">
	<div class="container-fluid">
		<div class="header">
			{% block header %}
		        {% include "templates/partials/header.html" %}
		    {% endblock %}
	    </div>

	  <div class="sectioncontent col-lg-3 offset-lg-6">
	    <div class="sectiontitle">
	      {{ cms.measurements.name }}
	    </div>

	    <div class="sectiontext">
	          {{ cms.measurements.wysiwyg_text|safe }}
	    </div>
	   </div>
  </div>
</div>

{% endblock %}
