/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;.prev_next{
		width:100%;
		height: 97%;
		z-index: 1;
		padding-top: 3%;
		position: absolute;
	}.prev_next{
		width:100%;
		height: 97%;
		z-index: 1;
		padding-top: 3%;
		position: absolute;
	}
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
}

html{
	font-family: "Times New Roman", Times, serif; 
	font-size:12px;
}

h1{
	font-size: 2.5rem;
}
	@media screen and (max-width: 1024px){
				h1{
			font-size: 2.2rem;
		}
	}

h2{
	font-size: 1.8rem;
}

a{
	color:black;
	text-decoration: none;
}

.clearfix{
	overflow: auto
}

.container-fluid {
 	position: relative; 
}
	@media screen and (max-width: 1024px){
		.container-fluid {
		 	padding-left:15px;
		 	padding-right:15px;
		}
	}

	@media screen and (min-width: 1024px){
		.container-fluid {
		 	position: static;
		}
	}

/*MOBILE NAV*/

		.title{
			width:80%;
			padding-top:6%;
			position: absolute;
		  	z-index: 1;
		  	letter-spacing: 1px;
		}
			@media screen and (min-width: 425px){
				.title{
					padding-top:4%;
				}
			}

			@media screen and (max-width: 1024px){
				.title{
					width:86%;
					text-align: center;
					padding-left:6%;
				}
			}

			@media screen and (min-width: 425px) and (max-width: 1024px){
				.title{
					width:88%;
					padding-left:8%;
				}
			}

		/* Add a black background color to the top navigation */
		.topnav {
		    overflow: hidden;
		    background-color: white;
		    z-index: 10;

		}

		/* Style the links inside the navigation bar */
		.topnav a {
		    display: block;
		    color: black;
		    text-align: left;
		    padding: 4%;
		    padding-right: 0;
		    padding-left: 0;
		    padding-top: 7%;
		    text-decoration: none;
		    font-size: 2rem;
		}

			@media screen and (min-width: 425px) {
				.topnav a {
				    padding: 4%;
				    padding-left: 0;
				    padding-right: 0;
				    text-decoration: none;
				    font-size: 2rem;
				}
			}

		/* Change the color of links on hover */
		.topnav a:hover {
		    color: black;
		}

		/* Add an active class to highlight the current page */
		.active {

		}

		/* Hide the link that should open and close the topnav on small screens */
		.topnav .icon {
		    display: none;
		}

		/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
		@media screen and (max-width: 1024px) {
		  .topnav a {
		  	display: none;
		  }
		  .topnav a.icon {
		    float: right;
		    display: block;
		  }
		}

		@media screen and (min-width: 1024px) {
		  .topnav{
		  	display: none;
		  }

		}

		/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
		@media screen and (max-width: 1024px) {
			.topnav.responsive {
				position: relative;
				height:100vh;

			}
			.topnav.responsive a.icon {
				position: absolute;
				right: 0;
				top: 0;
			}
			.topnav.responsive a {
				float: none;
				display: block;
				text-align: center;
			}

			#index .topnav.responsive a{
				display: none;
			}
		}

			.mobilelinks{
				margin-top:28vh;
			}

			.mobilenav .mobiletitle{
				padding-left:0; 
				text-align:left; 
				letter-spacing: 1px;
			}
				@media screen and (min-width: 425px){
					.mobilenav .mobiletitle{
						
					}
				}


		  #index .mobilenav{
		    display: none
		  }

		  @media screen and (min-width: 1024px){
				#mobilenav{
					display: none 
				}
			}

		#indexcontainer .navigation-1 .topnav{
			display:none;
		}
/* END MOBILE NAV */

/* DESKTOP NAV */

		#desktopnav{
			display: flex;
  			flex-direction: column;
 			justify-content: center;
		}

		.navigation-1{
			top:0;
			text-align:center;
			font-size: 2rem; 
			line-height: 4rem;

			position:fixed;
			top:47%;
		}

		#indexcontainer .navlink{
			display:none;
		}

		@media screen and (max-width: 1024px){
		#desktopnav{
			display: none
		}
	}

		.desktitle{
			font-size: 2.4rem;
			letter-spacing: 1px;
		}

		.pnav{
			display:block;
			text-align: left;
			padding-left: 30%
		}

		.pinfo{
			text-align: left;
			padding-left: 30%;
		}

/* END DESKTOP NAV */

.hpimages{
	position: absolute;
	width:100%;
	height:80vh;
	top:0;
	left: 0;
	margin-top: 15vh;
	display: block;
	overflow: hidden;

}
	@media screen and (min-width: 425px) and (max-width: 767px){
		.hpimages{
			padding-top: 18%;
		}
	}

	@media screen and (min-width: 767px){
		.hpimages{
			padding-top: 0%;
			height:85vh;
			margin-top: 9vh;
		}
	}

	@media screen and (min-width: 1024px){
		.hpimages{
			width:100%;
			height:100vh;
			margin: 0 auto;
			float:left;
			display: block;
		}
	}

.bg-slideshow{
	margin:0 auto;
	padding:0 auto;
	padding-left: 15px;
	padding-right: 15px;
	height:100%;
	overflow: hidden;
	position: 
}
	.bg-slideshow img{
		width:100%;
		margin: 0 auto;
		padding:0 auto;
	}

	@media screen and (min-width: 768px){
		.bg-slideshow{
			margin:0 auto;
			padding:0 auto;
			height:100%;
			overflow: hidden
		}
	}

	@media screen and (min-width: 1024px){
		.bg-slideshow{
			margin:0 auto;
			padding:0 auto;
			height:100%;
			float: left;
		}

		.bg-slideshow img{
			margin:0 auto;
			padding:0 auto;
			width:41%;
			margin-right: 9%;

			float: left;

			position: relative;
  			top: 48%;
  			transform: translateY(-50%);
		}

		/*
		.bg-slideshow img:nth-child(2){
			width:50%;
		}
		*/

	}

	.indexlist{
			display:none;
		}

	@media screen and (max-width: 1024px){
		.indexlist{
			display:none;
		}
	}
	.indexcontent{
		top: 54%;
		line-height: 2rem;
		text-align: center;
	}	
		

		@media screen and (max-width: 1024px){
			.indexcontent{
				padding-left: 0;
	    		padding-right: 0;
	    		text-align: left;
	    		/*position: absolute !important;*/
	    		padding-top:60%;
			}
		}

			@media screen and (min-width: 425px){
				.indexcontent{
		    		padding-top:40%;
				}
			}

		@media screen and (min-width: 1024px){
			.indexcontent{
				position: absolute !important;
				top: 53%;
				padding-top: 0;
			}	
		}

	.indextext{
		font-size:1.8rem;
		line-height: 2rem;
	}

	.indextext p{
		padding-right: 5%;
		display: inline-block;
	}

	.marquee {
	  overflow: hidden;
	  border:1px solid #ccc;
	}

.sectioncontent{
	top: 54%;
	line-height: 2rem;
	text-align: center;
}	
	

	@media screen and (max-width: 1024px){
		.sectioncontent{
			padding-left: 0;
    		padding-right: 0;
    		text-align: left;
    		/*position: absolute !important;*/
    		padding-top:60%;
		}
	}

		@media screen and (min-width: 425px){
			.sectioncontent{
	    		padding-top:40%;
			}
		}

	@media screen and (min-width: 1024px){
		.sectioncontent{
			position: absolute !important;
			top: 53%;
			padding-top: 0;
		}	
	}

.sectiontitle{
	padding-bottom: 8%;
	font-size:1.8rem;
}

	@media screen and (min-width: 1024px){
		.sectiontitle{
			display: none;
		}
	}

.sectiontext{
	font-size:1.3rem;
	line-height: 2rem;

}

@media screen and (min-width: 1024px){
		#contact .container-fluid{
			
		}	
	}


@media (min-width: 1024px){
	.carouselwrapper{
		margin-left: 29%;
		padding-top: 6rem;
		position: relative;
	}
}

@media (max-width: 1024px){
	.carouselwrapper{
		top:35px;

	}
}

	.anchorspace{
  		display: block;
	    position: relative;
	    top: -250px;
	    visibility: hidden;
	}

	@media (max-width: 1024px){
		.anchorspace{
		    top: -150px;
		}
	}

	@media (min-width: 1024px){
		.ptitle{
			margin-left: 29%;
		}
	}

	.ptitle{
		width: 100%;
		z-index: 4;
	}

	.pdrop{
		width: -moz-calc(41.666667% + 30px);
		width: -webkit-calc(41.666667% + 30px);
		width: -o-calc(41.666667% + 30px);
		width: calc(41.666667% + 30px);
		margin-left: -15px;
		position: fixed;
		font-size: 2rem;
		z-index:2;
		cursor: pointer;

		background-color:white;

		top:0;
		padding-top:25px;
	}
		.pdrop p{
			width:130px;
			padding-left: 15px;
			padding-bottom: 10px;
			border-bottom:.5px solid black;
		}

		@media (max-width: 1024px){
			.pdrop p{
				width:115px;
			}
		}


		.remove{
			border-bottom:0px solid black;
		}
		
		@media (max-width: 1024px){
			.remove{
				border-bottom:0px solid black !important;
			}
		}		

		@media (max-width: 1024px){
			.pdrop{
				width: -moz-calc(100% + 30px);
				width: -webkit-calc(100% + 30px);
				width: -o-calc(100% + 30px);
				width: calc(100% + 30px);
				margin-left: -15px;
				position:static;
				top:65px;

				font-size: 1.6rem;

			}
		}


	#plist{
		width: -moz-calc(41.666667% + 30px);
		width: -webkit-calc(41.666667% + 30px);
		width: -o-calc(41.666667% + 30px);
		width: calc(41.666667% + 30px);
		margin-left: -15px;
		
		margin-left: -15px;
		display:none;
		position: fixed;
		top: 59px;
	    font-size: 1.8rem;
	    line-height: 3.5rem;
	    z-index: 3;
	    cursor: pointer;
	    border-top: .5px solid black;
	    background-color: white;
	}

		@media (max-width: 1024px){
			#plist{
				width: -moz-calc(100% + 30px);
				width: -webkit-calc(100% + 30px);
				width: -o-calc(100% + 30px);
				width: calc(100% + 30px);
				position: relative;
				top:0;
				
				background-color: white;

				line-height: 4rem;
				font-size: 1.6rem;
			}
		}

	#plist a{
		width:100%;
		display:block;
		border-bottom: .5px solid;
		padding-left: 15px;
	}

		.show{
			display: block !important;
		}

		.hide{
			display: none !important;
		}

	.pcontact{
		padding-top:20%;
	}


	.carousel_container{
		margin:0 auto;
		float:left;
		overflow: hidden;
		width: 100%;
		height: 100%;
		padding: 10%;
		padding-top: 0;
		padding-bottom:5%;
	}

		@media (max-width: 1024px){
			.carousel_container{
				padding: 5%;
				padding-top:0;
				padding-bottom: 7%;
			}
		}

	.prev_next{
		width: 100%;
    	margin-left: -5%;
		height: 97%;
		z-index: 1;
		padding-top: 50%;
		position: absolute;
	}

		@media (min-width: 1024px){
			.prev_next{
				width: 100%;
    			margin-left: -10%;
			}
		}

		.prev_next a:nth-child(1){
			float: left;
			text-align: left;
			width:40%;
			height:20%;
			font-size: 1.7rem;
		}
			@media (max-width: 768px){
				.prev_next a:nth-child(1){
					font-size: 1.5rem;
				}
			}


		.prev_next a:nth-child(2){
			float: right;
			text-align: right;
			width:40%;
			height:20%;
			font-size: 1.7rem;
		}
			@media (max-width: 768px){
				.prev_next a:nth-child(2){
					font-size: 1.5rem;
				}
			}

	.carousel_image{
		margin: 0 auto;
		text-align: center;
		z-index: -1;
	}
		.carousel_image img{
			width:100%;
		}

	.portfolio_info{
		width:100%;
		font-size: 1.3rem;
    	line-height: 2rem;
    	padding-top:0;
    	padding-bottom:5%;
    	padding-left: 10%;
    	padding-right: 10%;

    	display: inline-block;
	}

		@media (max-width: 1024px){
			.portfolio_info{
				width:100%;
				font-size: 1.3rem;
		    	line-height: 2rem;
		    	padding-top:0;
		    	padding-bottom:7%;
		    	padding-left: 5%;
		    	padding-right: 5%;
		}


	.client{
		float:left;
		padding-right:3%;
	}















